* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Smart';
    src: url('../font/03SmartFontUI.woff') format('woff');
}

@font-face {
    font-family: 'chogoku';
    src: url('../font/chogokubosogothic_5.ttf') format('ttf');
}

a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.content {
    padding-top: 125px;
}


/*header*/

header {
    background: rgba(255, 255, 255, 0.90);
    font-family: 'Smart';
    padding-top: 10px;
    width: 100%;
    height: 115px;
    position: fixed;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.header_search_input {
    position: absolute;
    right: 300px;
    top: 24px;
    font-size: 12.5px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 20px;
    border: none;
    border: 1.5px solid rgb(100, 100, 100);
    /*background-color: rgba(250,250,250,1);*/
}

.fa-search {
    position: absolute;
    right: 320px;
    top: 31px;
    font-size: 160%;
    color: rgb(100, 100, 100);
}

.header_login {
    line-height: 39px;
    padding-left: 10px;
    position: absolute;
    right: 215px;
    top: 25.4px;
    color: rgb(100, 100, 100);
    border-left: 1px solid rgb(100, 100, 100);
}

.logo {
    display: block;
    margin: 0 auto;
    margin-left: 320px;
    margin-top: 7px;
    width: 100px;
}


/* navはここ */

nav {
    color: #f9f9f9;
    padding-top: 12px;
    padding-bottom: 10px;
}

nav a {
    font-family: 'Smart';
    color: rgba(15, 15, 15, 0.8);
    font-size: 18px;
    text-decoration: none;
    /* 文字の装飾を指定する */
}

nav ul {
    list-style-type: none;
    /* リストのマーカーを指定する */
    padding-left: 70px;
}

nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

nav li {
    line-height: 25px;
    display: inline-block;
    /* 要素の表示形式を指定する */
    margin-right: 70px;
}

nav li:hover {
    border-bottom: 6px solid rgba(241, 226, 74, 0.5);
}

nav li:hover+.timeline {
    border-bottom: none;
}

.now {
    border-bottom: 6px solid rgba(241, 226, 74, 1);
}


/*body*/

body {
    font-family: 'Smart';
    background: rgba(250, 250, 250, 1);
    z-index: 900;
}


/**/


/*左10%くらい*/

.col-all {
    font-family: 'Smart';
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 4%;
    width: 92%;
    height: 220%;
    background: #fff;
}


/*左80%くらい*/

.col-8 {
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 4%;
    width: 77.1%;
    height: 220%;
    background-color: rgb(250, 250, 250);
}


/*search_game.html*/

.game_info .game_date {
    color: rgba(100, 100, 100, 1);
    font-size: 50px;
    text-align: center;
}

.game_info {
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding-bottom: 30px;
    margin-left: 20px;
}

.game_info:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.game_info img {
    margin-left: 100px;
    margin-top: 20px;
    display: inline-block;
    height: 230px;
}

.game_info .versus {
    position: absolute;
    margin-top: 160px;
    margin-left: 30px;
    display: inline-block;
    color: rgba(100, 100, 100, 0.6);
    font-size: 50px;
}

.game_info h5 {
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.4);
    margin: 5px;
    margin-top: 40px;
    display: inline-block;
    font-size: 40px;
    color: rgba(100, 100, 100, 0.5);
}

.game_info h6 {
    display: inline-block;
    font-size: 30px;
    color: rgba(100, 100, 100, 0.8);
}

.game_info .more_detail {
    position: relative;
    margin-left: 37.5%;
    padding: 12px;
    border-radius: 20px;
    display: inline;
    color: rgba(100, 100, 100, 0.7);
    text-align: center;
    border: 1.5px solid rgba(100, 100, 100, 0.5);
}

.game_info .more_detail:hover {
    color: rgba(100, 100, 100, 1);
    border: 1.5px solid rgba(100, 100, 100, 1);
    background-color: rgba(251, 236, 84, 0.9);
}

.player_info_box_img {
    height: 400px;
    transition: 0.3s;
}

.more_detail::after{
    
}




/*もっとくわしくぼたん*/


.hidden_box label {
    cursor :pointer;
    transition: .5s;
}

.hidden_box label:before {
    display: inline-block;
    content: '\f078';
    font-family: 'FontAwesome';
    padding-right: 5px;   
    transition: 0.2s;
}

.hidden_box input:checked + label:before {
     content: '\f00d';
     -ms-transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
}

.hidden_box input {
    display: none;
}

.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.hidden_box input:checked + label + .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    margin-left: 40px;
}


.left-players{
    display: inline-block;    
    width: 300px;
    margin-left: 53px;
    margin-top: 60px;
    background-color: white;
}

.right-players{
    display: inline-block;
    width: 300px;
    margin-left: 70px;
    margin-top: 10px;
    background-color: white;
}

.trimming img{
    width: 60px;
    height: auto;
    position: relative;
    right: 100px;
    bottom: 22px;
}

.trimming{
    margin: 8px;
    display: inline-block;
    width: 60px;/* トリミングしたい枠の幅 */
    height: 60px;/* トリミングしたい枠の高さ */
    overflow: hidden;
    border-radius: 30px;
}



/*timeline*/

.timeline-box {
    background-color: white;
    width: 1065px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.timeline-box:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.timeline-icon {
    margin-left: 10px;
    margin-top: 20px;    
    border-radius: 200px;
    width: 60px;
}

.timeline-timestamp{
    display: inline-block;
    position: relative;
    right: 00px;
    bottom: 15px;
}

.timeline-name{
    display: inline-block;
    font-size: 30px;
    width: 800px;
    position: relative;
    left: 10px;
    bottom: 15px;
}

.timeline-abst{

    line-height: 25px;
    width: 970px;
    padding-bottom: 30px;
    margin-left: 30px;
}

.timeline-img{
    margin-top: 15px;
    width: 250px;
    float: left;
    margin: 10px;
    margin-right: 20px;
}

.timeline-twitter-img{
    width: 30%;
}
.timeline-twitter-video{
    margin-top: 10px;
    width: 90%;
}

.timeline-insta-img{
    width: 50%;
}

.source{
    position: relative;
    top: 10px;    
    font-size: 100px;
    opacity: 0.05;
}

/*about_player.html*/
.about-top-back-img{
    padding-top: 125px;
    width: 100%;    
    opacity:0.75;
}

.about-top-back-trim{
    height: 1240px;
    overflow: hidden;
}

.about-profile{
    text-align: center;
    position: relative;
    bottom: 1050px;
    color: white;    
}

.about-top-img{
    width: 200px;
}

.about-top-img-trim{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
}

.about-name{
    margin-top: 20px;
    font-size: 35px;
}

.about-more-detail{
    display: block;
    margin: 0 auto;  
    margin-top: 25px;
    font-size: 18px;
    width: 400px;
    line-height: 24px;
}

.about-player-view .fa {
    font-size: 22px;
    color: rgba(251, 246, 124, 1);
}

.about-player-view {
    margin-left: 10px;
    font-size: 18px;
    display: inline-block;
}

.about-player-vote .fa {
    font-size: 22px;
    color: rgba(251, 246, 124, 1);
}

.about-player-vote {
    margin-left: 10px;
    font-size: 18px;
    display: inline-block;
}

.about-sns{
    padding-top: 20px;
    padding-right: 40px;
}

.asns{
    margin-left: 10px;
    font-size: 22px;    
}

.about-plot{
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 900px;
    color: rgb(100, 100, 100);    
}
.about-plot p{
    display: block;
    margin: 0 auto;
    width: 200px;
    border-bottom: rgba(251, 246, 124, 1);
}

.about-trend{
    margin: 0 auto;
    margin-top: 35px;
    width: 1300px;
    height: 450px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);  
    border-radius: 10px;
}

.about-cheer{
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    width: 150px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    background: rgba(255,255,255,0.2);
    color: white;
    border: 3px solid rgba(251, 246, 124, 1);
    border-radius: 30px;
    cursor: pointer;
    
}

.about-player-posts{
    color: rgb(100, 100, 100);        
    margin: 0 auto;    
    font-size: 20px;   
    position: relative;
    bottom: 860px;
}

.about-cheer:hover{
    color: rgba(251, 246, 124, 1);
}

.about-player-posts h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.fa-check{
    color: rgba(251, 246, 124, 1);
}

.about-player-post{
    margin: 15px auto;
    width: 800px;
    height: 90px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
}

.about-player-post-icon{
    width: 60px;
    
}

.about-player-post-trim{
    width: 60px;
    height: 60px;    
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    left: 10px;
    display: inline-block;    
}

.about-player-post-name{
    font-size: 30px;
    display: inline-block;
    position: relative;
    left: 20px;
    bottom: 15px;
}

.about-player-post-time{
    display: inline-block;
    position: relative;
    left: 720px;
    bottom: 60px;
    font-size: 15px;
}

.about-player-post-text{
    margin-left: 80px;
    font-size: 15px;
}

.about-player-response{
    padding: 10px;
    font-size: 15px;
    position: relative;
    
    left: 700px;
    bottom: 40px;
}

.fa-thumbs-o-up{
    
}


/*左10%くらい*/

.col-1 {
    font-family: 'Smart';
    z-index: 1;
    position: absolute;
    top: 18%;
    left: 4%;
    width: 16%;
}

.col-1 .stack_menu li {
    background: #fff;
    text-align: center;
    padding: 15px;
    list-style-type: none;
    /* リストのマーカーを指定する */
    color: rgba(100, 100, 100, 0.7);
    box-shadow: 0.1px 0px 0.1px rgba(0, 0, 0, 0.1);
}

.col-1 .stack_menu li:hover {
    background: rgba(241, 226, 74, 1);
    color: #fff;
}

.col-1 .stack_menu2 {
    margin-top: 20px;
}

.stack_menu h5 {
    text-align: center;
    border-bottom: 2px solid rgba(241, 226, 74, 1);
    font-size: 18px;
    padding: 10px;
    color: rgba(100, 100, 100, 0.7);
}


/*左10%くらい*/

.col-7 {
    font-family: 'Smart';
    z-index: 1;
    position: absolute;
    top: 18.7%;
    left: 20%;
    width: 62%;
    height: 220%;
    background: rgba(250, 250, 250, 1);
}

.player-box {
    background: #fff;
    margin-left: 5%;
    width: 89%;
    margin-top: 10px;
    padding: 9px;
    box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5)
}

.player-box:hover {
    box-shadow: 1px 1px 1px rgba(100, 100, 100, 0) transition: 0.3s;
}

.player_info {
    position: absolute;
    margin-left: 170px;
    margin-top: -125px;
    width: 300px;
    color: rgb(100, 100, 100);
    line-height: 60px;
}

.player_name {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 35px;
    color: rgba(100, 100, 100, 0.6);
}

.player_view_num {
    margin-left: 5px;
    font-size: 15px;
    display: inline-block;
    color: rgba(100, 100, 100, 0.8);
}

.player_view_num .fa {
    font-size: 20px;
    color: rgba(251, 246, 124, 1);
}

.player_vote_num .fa {
    font-size: 20px;
    color: rgba(251, 246, 124, 1);
}

.player_vote_num {
    margin-left: 10px;
    font-size: 15px;
    display: inline-block;
    color: rgba(100, 100, 100, 0.8);
}

.player_img_search {
    padding-left: 3px;
    height: 130px;
}

.team_img_search {
    position: absolute;
    right: 6%;
    opacity: 0.1;
    width: 70px;
    margin-top: 6.5%;
}


/*右20%くらい*/

.col-2 {
    font-family: 'Smart';
    z-index: 1;
    position: absolute;
    top: 15%;
    right: 1%;
    width: 18%;
    height: 220%;
}

.hot {
    width: 210px;
    margin-left: 20px;
    padding-top: 30px;
    padding-left: 10px;
    line-height: 25px;
}

.hot h1 {
    line-height: 30px;
    font-size: 18px;
    border-bottom: 5px solid rgba(241, 226, 74, 1);
    color: rgba(100, 100, 100, 0.9);
}

.hot-box {
    padding: 10px;
    margin-top: 7px;
    border: 1px solid rgb(250, 250, 250);
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5);
}

.hot-box:hover {
    box-shadow: 1px 1px 1px rgba(100, 100, 100, 0);
    transition: 0.3s;
}

.hot-box h2 {
    float: left;
    font-family: 'Smart';
    position: relative;
    font-size: 50px;
    width: 20px;
    top: -52px;
    right: 43px;
    color: rgba(100, 100, 100, 0.6);
}

.hot-box h3 {
    float: left;
    font-family: 'Smart';
    position: relative;
    width: 20px;
    top: -62px;
    right: -20px;
    color: rgba(100, 100, 100, 0.6);
}

.hot-box h4 {
    float: left;
    font-family: 'Smart';
    position: relative;
    width: 20px;
    top: -100px;
    right: 0px;
    color: rgba(251, 236, 84, 1);
    font-size: 12px;
}

.hot-box h5 {
    float: left;
    font-family: 'Smart';
    position: relative;
    width: 20px;
    top: -100px;
    right: -3px;
    color: rgba(251, 236, 84, 1);
    font-size: 25px;
}

.hot-box h6 {
    position: relative;
    color: rgba(100, 100, 100, 0.7);
    top: 2px;
    right: 25px;
    padding-right: -20px;
    font-size: 15px;
}

.hot-box img {
    margin-left: 110px;
    width: 77px;
}

.hot-keyword {
    font-size: 14px;
    margin-left: 1.5px;
    margin-top: 7px;
    padding: 4px;
    padding-left: 6px;
    border: 1.5px solid rgba(100, 100, 100, 0.4);
    color: rgba(100, 100, 100, 0.7);
    border-radius: 6px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
}

.hot-keyword:hover {
    border: 1.5px solid rgba(100, 100, 100, 1);
    color: rgba(100, 100, 100, 1);
}

.tab-btn {
    margin: auto;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    list-style-type: none;
    /* リストのマーカーを指定する */
}

.tab-btn li {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 20px;
    margin: 1.5px;
    float: left;
    overflow: hidden;
    color: rgba(100, 100, 100, 0.8);
}

.tab-btn li:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
}


/*footer*/

.header-twitter {
    position: fixed;
    bottom: 2%;
    right: 102px;
    padding: 10px;
    padding-top: 11px;
    padding-left: 12px;
    width: 18px;
    height: 19px;
    border: 5px solid #00aced;
    border-radius: 26px;
    color: #fff;
    background: #00aced;
    z-index: 999;
}

.header-twitter:hover {
    color: rgb(250, 250, 250);
    /*background-color: rgb(250,250,250);     */
    transform: rotate(360deg);
    transition: 0.5s;
}

.header-sns-btn {
    display: block;
    font-size: 20px;
    z-index: 999;
}

.header-facebook {
    position: fixed;
    bottom: 2%;
    right: 46px;
    padding: 10px;
    padding-top: 11px;
    padding-left: 15px;
    width: 15px;
    height: 19px;
    border: 5px solid #305097;
    border-radius: 26px;
    background-color: #305097;
    color: #fff;
    z-index: 999;
}

.header-facebook:hover {
    color: rgb(250, 250, 250);
    /*background-color: rgb(250,250,250);  */
    transform: rotate(360deg);
    transition: 0.5s;
}

canvas {
    background-color: #fff;
    z-index: 999;
}

footer {
    background: rgba(251, 236, 84, 1);
    z-index: 999;
    margin-top: 159%;
    height: 100px;
}


/*mypage.html*/

.mypage-title {
    text-align: center;
    color: rgba(100, 100, 100, 0.7);
    line-height: 60px;
    content: "";
    border-bottom: 6px solid rgba(241, 226, 74, 1);
    border-radius: px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.center-8-box {
    margin: 0 auto;
    width: 80%;
    height: 700px;
    padding-top: 120px;
    color: rgba(100, 100, 100, 0.7);
}

.mypage-playerbox {
    width: 340px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
    padding-bottom: 5px;
    display: inline-block;
    margin: 5px;
    margin-bottom: 15px;
}

.mypage-playerbox:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.mypage-playerbox img {
    margin-top: 20px;
    width: 115px;
}


.mypage-recombox {
    width: 300px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 20px;
    display: inline-block;
    margin: 5px;
    margin-top: 14px;
    margin-bottom: 0px;
    height: 170px;
}

.mypage-recombox img {
    width: 120px;
}

.bx-box{
    position: relative;
    bottom: 33px;
}

.bxslider li {
    text-align: center;
    float: left;
}

.mypage-playerbox p {
    display: inline-block;
    font-size: 35px;
    position: relative;
    bottom: 90px;
    left: 12px;
}

.mypage-player-view .fa {
    font-size: 22px;
    color: rgba(251, 246, 124, 1);
}

.mypage-player-view {
    margin-left: 10px;
    font-size: 15px;
    display: inline-block;
    color: rgba(100, 100, 100, 0.8);
}

.mypage-player-vote .fa {
    font-size: 22px;
    color: rgba(251, 246, 124, 1);
}

.mypage-player-vote {
    margin-left: 10px;
    font-size: 15px;
    display: inline-block;
    color: rgba(100, 100, 100, 0.8);
}

.mypage-bottom {
    position: relative;
    bottom: 50px;
    left: 126px;
}

.fa-chevron-circle-left {
    font-size: 37px;
    z-index: 999;
    position: relative;
    top: 106.5px;
    left: 15px;
}

.fa-chevron-circle-right {
    font-size: 37px;
    z-index: 999;
    position: relative;
    top: 106.5px;
    left: 1041px;
}

.notify-circle {
    border: 4px solid white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 30px;
    color: white;
    position: absolute;
    margin-left: -20px;
    padding: 10px;
    
    background: rgb(255, 202, 196);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 202, 196, 1) 2%, rgba(255, 26, 0, 1) 66%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 202, 196, 1) 2%, rgba(255, 26, 0, 1) 66%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 202, 196, 1) 2%, rgba(255, 26, 0, 1) 66%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcac4', endColorstr='#ff1a00', GradientType=0);
    /* IE6-9 */
}

.mypage-recombox p{
    font-size: 30px;
    position: relative;
    bottom: 110px;
    left: 75px;
}

.mypage-recombox-bottom{
    position: relative;
    bottom: 80px;
    left: 60px;
}





.line-chart {
	animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
  opacity: 0;
	max-width: 1140px;

	width: 100%;
}

.aspect-ratio {
  height: 0;
  padding-bottom: 50%; // 495h / 990w
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

canvas{
    position: relative;
    left: 60px;
    top: 50px;
}

.about-plot-tags{
    margin-top: 25px;
    margin-left: 530px;;
    position: absolute;   
    z-index: 999;   
    font-size: 25px;
    text-align: center;
}

.about-plot-tag{
    font-size: 20px;
    width: 120px;
    padding: 10px;
    background: rgba(0,0,0,0.05);
    cursor: pointer;
    margin-left: 150px;
    z-index: 999;
}

.p1{
    opacity: 0.9;
}

.about-plot-content{
     padding: 8px;
     left: 10px;
     border: 2px solid rgba(100, 100, 100, 0.8);;
     border-radius:10px;
    cursor: pointer;
}

.about-plot-content .fa{
    font-size: 25px;
    margin-right: 5px;
}
